.claude/

# legacy/img/ содержит 378 МБ картинок старого сайта.
# Храним в git только реально используемые файлы,
# остальные лежат на nobell.com/legacy/img/ (загружены по FTP).
legacy/img/*
!legacy/img/favicon/
legacy/img/favicon/*
!legacy/img/favicon/apple-touch-icon.png
!legacy/img/favicon/favicon-16x16.png
!legacy/img/favicon/favicon-32x32.png
!legacy/img/favicon/safari-pinned-tab.svg
!legacy/img/favicon/site.webmanifest
!legacy/img/favicon/browserconfig.xml
!legacy/img/pages/
legacy/img/pages/*
!legacy/img/pages/oliv.png
!legacy/img/fancybox/
legacy/img/fancybox/*
!legacy/img/fancybox/blank.gif
!legacy/img/fancybox/fancybox_loading.gif
!legacy/img/fancybox/fancybox_overlay.png
!legacy/img/fancybox/fancybox_sprite.png

# Images referenced directly in app.html
!legacy/img/16_1.jpg
!legacy/img/screen_100.png
!legacy/img/screen_200.png
!legacy/img/screen_300.png
!legacy/img/screen_400.png
!legacy/img/43.jpg
!legacy/img/80.jpg
!legacy/img/79.jpg
!legacy/img/42.jpg
!legacy/img/20m.jpg
!legacy/img/23m.jpg
!legacy/img/s_logo.svg
!legacy/img/x100.png
!legacy/img/x200.png
!legacy/img/x300.png
!legacy/img/b100.png
!legacy/img/b200.png
!legacy/img/new_logos_menu.png
!legacy/img/x.png
!legacy/img/life.svg

# Images referenced in legacy CSS (styles.css + libs.min.css)
!legacy/img/26.jpg
!legacy/img/CoC2.svg
!legacy/img/Lion_logog.svg
!legacy/img/Vertical_text.svg
!legacy/img/b11.png
!legacy/img/b111.png
!legacy/img/b22.png
!legacy/img/b222.png
!legacy/img/b2222.png
!legacy/img/bg_menu.jpg
!legacy/img/btn1.svg
!legacy/img/btn2.svg
!legacy/img/fbg.jpg
!legacy/img/flags.png
!legacy/img/follow_us.svg
!legacy/img/i1.png
!legacy/img/i2.png
!legacy/img/i3.png
!legacy/img/iPhone.png
!legacy/img/logo.svg
!legacy/img/m1.png
!legacy/img/m1_1.png
!legacy/img/m1_2.png
!legacy/img/m1_3.png
!legacy/img/m1_4.png
!legacy/img/m1_5.png
!legacy/img/m1_6.png
!legacy/img/m2.png
!legacy/img/m3.png
!legacy/img/m3_1.png
!legacy/img/m3_2.png
!legacy/img/m4.png
!legacy/img/marker.png
!legacy/img/mn.jpg
!legacy/img/next.png
!legacy/img/nl_logo_big.jpg
!legacy/img/nl_logo_big_l.jpg
!legacy/img/nl_logo_leon.jpg
!legacy/img/prev.png
!legacy/img/screen.jpg
!legacy/img/x1.png
!legacy/img/x2.png
!legacy/img/x3.png
!legacy/img/x6.png
!legacy/img/x66.png
